body {
    background-color: #263238;
}


header {
        margin-bottom: 15px;
}

.site-logo {
    width: 380px;
    height: 122px;
}

#intro p{
    color: #fff;
}

#intro .lead {
    color: #fdd835;
}

footer {
    margin-top: 15px;
}

footer p {
    color: #fdd835;
}
